:root {
  --white: #e6e8e6;
  --black: #121212;
  --red: #d1495b;
  --darkBlue: #003d5b;
  --orange: #e76f51;
  --lightOrange: #f4a261;
  --yellow: #e9c46a;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }

  background: var(--white);
}

a {
  text-decoration: none;
  color: var(--black);
}

button {
  cursor: pointer;
}

.item-hover {
  transition: filter 0.2s;
  &:not(:disabled):hover {
    filter: brightness(0.85);
  }
}